<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>
<h1>Task List</h1>
<form method="post" action="/tasks/clear">
    <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"> -->
    <button type="submit">Clear Cache</button>
</form>

<form method="get" action="/tasks">
    <label for="filterCriteria">Filter By:</label>
    <select id="filterCriteria" name="filter">
        <option value="all">All</option>
        <option value="completed">Completed</option>
        <option value="incomplete">Incomplete</option>
    </select>
    <input type="text" id="userIds" name="userIds" placeholder="User IDs (comma separated)">
    <button type="submit">Apply Filter</button>
    
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.userId}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.completed}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
